.wrap {
  padding-top: 60px;
  display: grid;
  grid-template-rows: calc(100vh - 70px);
  box-sizing: border-box;
}

.wrap > div {
}
/* 큰틀 */
.tab {
  display: flex;
  flex-direction: column;
  padding: 20px 30px;
  box-sizing: border-box;
  border-right: 1px solid #d4d4d4;
}

.sub_tab {
  display: flex;
  justify-content: center;
  border-right: 1px solid #d4d4d4;
}

.contents {
  height: calc(100vh - 70px);
  overflow-y: auto;
}
/* 큰틀 */

/* tab내부 */
.to_home {
  font-size: 16px;
  color: #000;
  margin-bottom: 15px;
  text-decoration: none;
}

.tab > dl {
  font-size: 14px;
}
.tab > dl > dt {
  line-height: 250%;
  margin-bottom: 10px;
}
.tab > dl > dd {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  margin-bottom: 20px;
  cursor: pointer;
}

.project_name {
}

.project_name > ul {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  gap: 10px;
  box-sizing: border-box;
}

.project_name > ul > li {
}

/* tab내부 */

/* subtab */

.tab_wrap {
}
.tab_con {
  width: 100%;
  border-bottom: 1px solid #d4d4d4;
}

.tab_header {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px 15px;
}

.tab_header > span {
  display: block;
}

.tab_header_top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: rgba(0, 0, 0, 0.5);
}
.tab_header_top > div {
  cursor: pointer;
}
.tab_header_mid > input {
  width: 100%;
  height: 30px;
  border: 1px solid #d4d4d4;
  border-radius: 5px;
  padding: 10px;
  box-sizing: border-box;
}

.tab_header_bottom {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.tab_header_bottom > svg {
  cursor: pointer;
  color: rgba(0, 0, 0, 0.3);
}

.tab_header_bottom > svg:hover {
  color: rgba(0, 0, 0, 0.7);
}

.project_wrap {
  padding: 20px 20px;
}
.project_file {
  color: rgba(0, 0, 0, 1);
  font-size: 14px;
  margin-bottom: 10px;
}

.project_name {
  color: rgba(0, 0, 0, 1);
  line-height: 200%;
  margin-bottom: 10px;
}

.project_info {
  cursor: pointer;
  text-indent: 10px;
}

/* sub_tab */

/* contnets{} */
.data_visual {
  padding: 20px;
  box-sizing: border-box;
}

.data_type {
  padding: 20px;
  margin-bottom: 5px;
  border-radius: 10px 10px 0 0;
  box-sizing: border-box;
  background-color: rgba(255, 201, 51, 0.5);
}

.data_table {
  display: flex;
  justify-content: start;
}

.data_table > table {
  width: 100%;
  border-radius: 5px;
  border-bottom: 3px solid #ffc933;
}

.data_table > table tr {
}

.data_table > table > thead > tr > th {
  padding: 15px 0;
  text-align: center;
  border-bottom: 3px solid #ffc933;
}

.data_table > table > tbody > tr > td {
  padding: 15px;
  text-align: center;
  border-bottom: 1px solid rgba(27, 27, 27, 0.3);
  color: rgba(0, 0, 0, 0.7);
  transition: all 0.2s linear 0s;
}

.data_table > table > tbody > tr > td:hover {
  background-color: rgba(212, 212, 212, 0.3);
}

.data_table > table > tbody > tr :last-child {
}
/* contents */
